<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </head>
  <body>
	<h2>Adduser</h2>
    <form action="/adduser" method="POST">
     <label for="userid">UserID:</label>
    	<input id="userid" type="text" name="userid">
     <label for="username">UserName:</label>
    	<input id="username" type="text" name="username">
     <label for="userpassword">Password:</label>
   	    <input id="userpassword" type="password" name="userpassword">
	 <input type="submit" value="submit">
	</form>
 </body>
</html>
