<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </head>
  <body>
  	<h1><%= datas[0].name %>'s page</h1>
	<br>

	<h1>CrawlerList</h1>
  	<table>
  	<% for(var i in crawids){ %>
  	<tr>
  	<td><%= crawids[i].crawid %></td>
	</tr>
	<% } %>
	</table>
	
    <h1><b><%= func1 %></b></h1>
    <form action="/addcrawler",method="POST">
     <label for="crawid">CrawlerID:</label>     
	 <input id="crawid" type="submit" value="ok">
	</form>
	
	<h1><b>py1</b></h1>
    	<form action="/py1",method="POST">
		<input type="submit" value="py1">
	</form>
	
  </body>
</html>